/* COMMON BORDER */

.Screen{
    /* padding: 1rem;  */
}


.borderedBox {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}

/* BRAND BUTTON */
.primaryBtn {
  background-color: hsl(221, 83%, 53%) !important;
  border-color: hsl(221, 83%, 53%) !important;
  color: #ffffff !important;
}

/* INPUTS */
.field {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  padding: 0.5rem;
}

/* TAGS */
.tag,
.status {
  background-color:  hsl(152, 100%, 94%);
  color: hsl(150, 83%, 53%);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
}

/* LINKS */
.link {
  color: hsl(221, 83%, 53%);
  font-weight: 500;
}

/* PAGINATION */
.pageBtn {
  border: 1px solid #e5e7eb;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  background: #ffffff;
}

.pageBtnActive {
  border: 1px solid hsl(221, 83%, 53%);
  background: hsl(221, 83%, 53%);
  color: #ffffff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
}
